*
{
    margin: 0;
    padding: 0;

}
body
{
    background-color: black;
}
.container1
{
    width: 100%;
    position: relative;
    z-index: 0;
    padding: 20px 0 20px 0;
}
.login
{
    background: url('../img/login/Loginbg.jpg') no-repeat center;
    background-size: cover;
}
.sign
{
    background: url('../img/login/Signinbg.jpg') no-repeat center;
    background-size: cover;
}

.background-mask
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    backdrop-filter: blur(15px);
}
.LoginBox
{
    z-index: 2;
    border: 2px solid rgb(166, 166, 166);
    width: 30%;
    margin: 0 auto 0 auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    border-radius: 25px;
    backdrop-filter: brightness(0.7);
}
.login .LoginBox
{
    height: 627px;
}
.sign .LoginBox
{
    height: 690px;
}
.Title h1
{
    color: white;
    font-size: 40px;
    text-align: center;
}
.formInput
{
    width: 90%;
    display: flex;
    margin: 30px auto 0 auto;
    flex-direction: column;
}
.formInput label
{
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}
.formInput input
{
    outline: none;
    border: none;
    padding: 14px;
    background: none;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 30px;
    border: 2px rgb(166, 166, 166) solid;
    color: aliceblue;
    transition: 0.3s;
}
.formInput input:focus
{
    width: 92%;
}
.RememberMeBox
{
    width: 90%;
    margin: 7px auto 0 auto;
    color: aliceblue;
    display: flex;
}
.confirmBox
{
    width: 90%;
    margin: 25px auto 0 auto;
}
.confirmBox .LoginButt , .SigninButt
{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
.confirmBox .LoginButt
{
    background-color: #C91415;
    color: white;
}
.confirmBox .SigninButt
{
    background-color: #B9B9B9;
    color: black;
}
.separate
{
    margin-top: 50px;
    text-align: center;
    color: rgb(156, 156, 156);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separate p
{
   margin: 0 10px 0 10px;
   color: aliceblue;
}
.separate div
{
    float: left;
    width: 40%;
    height: 1px;
    background-color: rgb(162, 162, 162);
}
.signsep
{
    margin-top: 30px;
}
.GoogleLogin
{
    margin-top: 30px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.GoogleLogin
{
    width: 90%;
    height: 50px;
    border: 2px rgb(166, 166, 166) solid;
    margin: 30px auto 0 auto;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.GoogleLogin p 
{
    font-weight: 600;
    font-size: 19px;
    margin-left: 5px;
}
.GoogleLogin i
{
    font-size: 30px;
    margin-right: 8px;
}
.LoginBoxFooter
{
    position: absolute;
    bottom: 15px;
    margin: 0 auto 0 auto;
    left: 50%;
    transform: translate(-50%,0);
}
.LoginBoxFooter p
{
    color: rgb(166, 166, 166);
}
.LoginBoxFooter p a
{
    color: red;
    font-weight: 600;
    cursor: pointer;
}
 @media only screen and (max-width : 1200px)
 {
    .sign .LoginBox
    {
        height: 670px;
    }
    .LoginBox
    {
        width: 45%;
        height: 650px;
    }
 }
 @media only screen and (max-width : 1000px)
 {
    .LoginBox
    {
        width: 50%;
        height: 650px;
    }
 }
 @media only screen and (max-width : 850px)
 {
    .sign .LoginBox
    {
        height: 690px;
    }
 }
 @media only screen and (max-width : 720px)
 {
    .LoginBox
    {
        width: 60%;
        height: 650px;
    }
 }
 @media only screen and (max-width : 590px)
 {
    .LoginBox
    {
        width: 75%;
        height: 650px;
    }
 }
