<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Src/Styles/404PageStyle.css">
</head>
<body>
    <div class="container404">
        <div class="page404bg"></div>
            <div class="block404">
                <h1>404 <span>Not Found</span></h1>
                <p>Are you Lost Baby girl? :)</p>
                <button class="goHomeButton"> <a href="">Go Home</a> </button>
            </div>
            
    </div>
</body>
</html>