{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg" href="../../assets/img/WebLogo/Untitled-1.svg">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block css %}{% endblock %}
    {% include '_shared/header_ref.html' %}
</head>
<body>
{% render_partial 'home_app.views.header' %}

{% block body %}

{% endblock %}
{% render_partial 'home_app.views.footer' %}
{% include '_shared/footer_ref.html' %}
{% block js %}{% endblock %}
</body>
</html>