<footer>
    <div class="UpperPart">
        <div class="WebBrand">
            <img class="WebLogo" src="{{ settings.site_logo.url }}" alt="">
            <h2 class="WebName">{{ settings.site_name|title }}</h2>
        </div>


        <div class="ContactINFO">
            <div class="gmail1"><i class="fas fa-envelope" aria-hidden="true"></i>
                <p>{{ settings.email }}</p></div>
            <div class="gmail2"><i class="fas fa-envelope" aria-hidden="true"></i>
                <p>amirmohammadsolgi1381@gmail.com</p></div>
            <div class="TelID"><i class="fas fa-paper-plane" aria-hidden="true"></i>
                <p>{{ settings.telegram }}</p></div>
        </div>
    </div>
    <div class="LowerPart">
        <div class="SoMeIcons">
            <i class="fab fa-telegram" aria-hidden="true"></i>
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <i class="fab fa-linkedin" aria-hidden="true"></i>
        </div>
        <div class="designer">
            <p>designed by <span>AMS</span></p>
            <p>developed by <span>MK </span><i style="color: yellow;" class="bi bi-lightning-charge-fill"></i></p>
        </div>

    </div>
</footer>