{% extends '_shared/base.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}
    Films
{% endblock %}

{% block body %}
    <section class="Section3">
        <div class="Section3BgEffect"></div>
        <div class="Trend-Items">
            {% for film in most_visit %}
                <div class="trend-item">
                    <div class="trend-item-image">
                        {% thumbnail film.banner "294x458" crop="center" as im %}
                            <img src="{{ im.url }}" alt="The 5th Exotic">
                        {% endthumbnail %}
                        <div class="hover">
                            <a href="{{ film.get_absolute_url }}"><i class="fas fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h3>{{ film.name }}</h3>
                </div>
            {% endfor %}
            <br>
        </div>
    </section>
    <br>
    <section class="Section4">
        <div class="movieBoxContainer">
            <main>
                {% for film in films %}
                    <article class="movieBox">
                        <div class="TopPart">
                            <div class="MovieImage">
                                {% thumbnail film.banner "294x458" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="The 5th Exotic">
                                {% endthumbnail %}
                            </div>
                            <div class="MovieInfo">

                                <div class="MovieTitle"><h2>{{ film.name }}</h2></div>
                                <div class="genre"><i class="fa fa-mask" aria-hidden="true"></i>Genre :
                                    {% for genre in film.genre.all %} {{ genre }}, {% endfor %}</div>
                                <div class="IMDBrate"><i class="fa fa-imdb" aria-hidden="true"></i>IMDB
                                    : {{ film.imdb }}</div>
                                <div class="Dir"><i class="fa fa-user" aria-hidden="true"></i>Director : {{ film.imdb }}
                                </div>
                                <div class="Cast"><i class="fas fa-users" aria-hidden="true"></i>Cast : {{ film.cast }}
                                </div>

                                <div class="Des">
                                    <p>
                                        {{ film.description }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="Continue">
                            <form action="{{ film.get_absolute_url }}">
                                <button class="AdameMatlab">Download</button>
                            </form>
                        </div>
                    </article>
                {% endfor %}
                
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="prev fa fa-arrow-left">
                           <span> Previous </span> 
                            <i class="fas fa-angel-left"></i>
                             </a>
                    {% endif %}
                    {% for page_number in paginator.page_range %}
                        <a href="?page={{ page_number }}"
                               class="{% if page_obj.number == page_number %} active {% endif %}"><span>{{ page_number }}</span> </a>
                        
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="next fa fa-arrow-right">
                            <i class="fas fa-angel-right"></i>
                           <span>Next</span> 
                        </a>
                    {% endif %}

                </ul>

            </main>

            <aside class="movieBoxFilters">
                <div class="GenreTitle">
                    Genres
                </div>
                {% render_partial 'home_app.views.genres' %}
                <div class="CartoonTtile">
                    Cartoons
                </div>
                <section class="regular slider cartoon-slider">
                    
                    <div class="CartoonItem">
                        <a href="/Info.html"></a>
                        <div class="CartoonItemImage">
                          <img class="img-fluid" src="/assets/img/RMSImages/Andor-2022.jpg" alt="">
                          <div class="hover">
                            <i class='fas fa-play'></i>
                          </div>
                        </div>
                        <div class="MovieName">
                          <h4>The Visitor</h4>
                      </div>
                      </div>
                      <div class="CartoonItem">
                        <div class="CartoonItemImage">
                          <img class="img-fluid" src="/assets/img/RMSImages/Luckiest-Girl-Alive-2022.jpg" alt="">
                          <div class="hover">
                            <i class='fas fa-play'></i>
                          </div>
                        </div>
                        <div class="MovieName">
                          <h4>Halloween Kills</h4>
                        </div>
                      </div>
                      <div class="CartoonItem">
                        <a href="/Info.html"></a>
                        <div class="CartoonItemImage">
                          <img class="img-fluid" src="/assets/img/RMSImages/The-Cleaning-Lady.jpg" alt="">
                          <div class="hover">
                            <i class='fas fa-play'></i>
                          </div>
                        </div>
                        <div class="MovieName">
                          <h4>Dear-Zoe</h4>
                      </div>
                      </div>
                      <div class="CartoonItem">
                        <a href="/Info.html"></a>
                        <div class="CartoonItemImage">
                          <img class="img-fluid" src="/assets/img/RMSImages/The-Visitor.jpg" alt="">
                          <div class="hover">
                            <i class='fas fa-play'></i>
                          </div>
                        </div>
                        <div class="MovieName">
                          <h4>The Visitor</h4>
                      </div>
                      </div>
                      <div class="CartoonItem">
                        <a href="/Info.html"></a>
                        <div class="CartoonItemImage">
                          <img class="img-fluid" src="/assets/img/RMSImages/The-Visitor.jpg" alt="">
                          <div class="hover">
                            <i class='fas fa-play'></i>
                          </div>
                        </div>
                        <div class="MovieName">
                          <h4>The Visitor</h4>
                      </div>
                      </div>
                      <div class="CartoonItem">
                        <div class="CartoonItemImage">
                          <img class="img-fluid" src="/assets/img/RMSImages/A-Jazzmans-Blues.jpg" alt="">
                          <div class="hover">
                            <i class='fas fa-play'></i>
                          </div>
                        </div>
                        <div class="MovieName">
                          <h4>A-Jazzmans-Blues</h4>
                        </div>
                      </div>
                                         

                </section>
                <div class="YearTitle">
                    Year
                </div>
                {% render_partial 'home_app.views.years' %}
            </aside>
        </div>

   

    </section>
    <div class="nav-mask">
    </div>
{% endblock %}