{% extends '_shared/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="container1 sign">
    <div class="background-mask"></div>
    <form class="LoginBox" action="{% url 'register-page' %}" method="post">
        <div class="Title">
            <h1>Sign up</h1>
        </div>
        <div class="formInput">
            {{ register_form }}
            {{ register_form.errors }}
        </div>
        {% csrf_token %}
       <div class="confirmBox">
        <input type="submit" class="SigninButt" value="Sign up">
       </div>

        <div class="signsep separate">
            <div></div>
            <p>Or</p>
            <div></div>
        </div>

      <div class="GoogleLogin">
            <i class="fa fa-google"></i>
             <p>Continue with Google</p>
      </div>


    </form>
</div>
<div class="nav-mask">
</div>
{% endblock %}